{% extends "npc/base.html" %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
<h1 style="text-shadow: 4px 4px #CEE3CE;">List of all family names</h1>
<h4>Press the name to go to edit</h4>
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="75%">
  <thead>
    <tr>
      <th><a href="?order_by=familyName" style="color: black"> Name </a></th>
      <th> Race </th>
      <th> Delete </th>
    </tr>
  </thead>
  {% for fn in familyNames %}
    <tr>
      <td><a href="{% url 'npc-editFamilyName' pk=fn.pk %}" style="color: black">{{fn.familyName}}</a></td>
      <td>{{fn.race}}</td>
      <td><form action="{% url 'npc-deleteFamilyName' fn.id %}" method="post">
        {% csrf_token %}
        <a href="{% url 'npc-deleteFamilyName' pk=fn.pk %}" style="color: black">
          <button type="submit" class="btn btn-danger">Delete</button>
        </a>
      </form></td>
  </tr>
  {% endfor %}
</table>
<br><br>
<a href="/npc/" class="btn btn-outline-secondary" role="button">Go Back</a>
{% endblock content %}